{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Paciente{% endblock %}
{% block body %}
<div class="content-section">
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
  <div class="center">
    <h1>Predecir asistencia de turno Medico</h1>
    <br/>
    {{ wtf.quick_form(form) }}
    <br/>

  </div>
</div>
{% endblock %}
