{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Paciente{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
{#    <div class="middle">#}
      <div style="width:100%; margin:0 auto;">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Detalle de la Registracion</h1>

          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="6%"> Nro HC </th>
                  <th width="25%"> Apellido y Nombre </th>
                {% if data.tutoractivo == True %}
                    <th width="15%"> Email Responsable </th>
                {% else %}
                    <th width="15%"> Email </th>
                {% endif %}
                  <th width="11%"> Fecha Nacimiento </th>
                    <th width="2%"> Confirmado Email</th>
                  <th width="11%"> Tipo Nro Doc </th>
                    <th width="5%"> Bloqueado </th>
                    {% if data.confirmado == 'NO' %}
                        <th width="5%"> Reenvio Confirmacion </th>
                        <th width="9%"> Eliminar Registro </th>
                    {% endif %}
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td> {{ data.nrohc }} </td>
                  <td> {{ data.apynom }} </td>
                {% if data.tutoractivo == True %}
                    <td> {{ data.tutoremail }} </td>
                {% else %}
                    <td> {{ data.email }} </td>
                {% endif %}

                    <td> {{ data.fechanacim }} </td>
                    <td align="center"> {{ data.confirmado }} </td>
                    <td> {{ data.tiponrodoc }} </td>
                    <td align="center"> {{ data.bloqueado }} </td>
                    {% if data.confirmado == "NO" %}
                      <td>
                        <a href="{{ url_for('home.send_register', nrohc=data.nrohc) }}">
                          <i class="fa fa-envelope"></i> Envio email
                        </a>
                      </td>
                      <td>
                        <a href="{{ url_for('home.delete_register', nrohc=data.nrohc) }}">
                          <i class="fa fa-trash"></i> Borrar
                        </a>
                      </td>
                    {% endif %}
                </tr>

              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
